Package: uucin-zabbix-agent-sodo-patch
Version: 1.0
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: zabbix-agent (>= 1.0)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Zabbix sudo no passwd sudo config
