Package: uucin-tomcat7-bottle
Version: 1.1
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: uucin-sunjdk7 (>= 1.0), uucin-tomcat7-bottle-libGeomlibrary (>= 1.0)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Apache Tomcat7 For Bottle
