Package: uucin-nginx-athena-conf
Version: 1.0
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: nginx (>= 1.1.19-1ubuntu0.2)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Nginx Conf for Athena Tomcat
