Package: uucin-tftpboot
Version: 1.0
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: nginx (>= 1.1.19-1ubuntu0.2), dnsmasq (>= 2.59-4ubuntu0.1)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: uucin-tftpboot for os install
