import gevent.monkey
gevent.monkey.patch_all()
from multiprocessing import cpu_count

_file = file

from gevent.fileobject import FileObjectThread as FileObject
def patch_file():

    def monkey_file(name, mode='r', buffering=1024):
        return FileObject(
            _file(name, mode, buffering),
            close=True,
            lock=False,
        )
    __builtins__['file'] = monkey_file

patch_file()


bind = '0.0.0.0:80'
backlog = 2048  # The number of pending connections

timeout = 30
keepalive = 10

spew = False  # Install a trace function that spews every line of Python
debug = False

daemon = True
pidfile = None
umask = 0
user = None
group = None
tmp_upload_dir = None

workers = cpu_count()  # The number of worker processes
worker_class = 'gevent'
worker_connections = 1000
