Package: uucin-zabbix-elasticsearch
Version: 1.1
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: zabbix-agent (>= 1.0), python-virtualenv (>=1.7.1.2-1), python (>= 2.7.3-0ubuntu2), python2.7-dev (>= 2.7.3)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Zabbix Script for elasticsearch
