Package: uucin-lbs-stage
Version: 1.2
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: uucin-lbs-bottle-stage (>= 1.0), uucin-lbs-apollo-stage (>= 1.0)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Lbs All Stage Depends & Util Shell
