Package: uucin-nginx-redis-conf
Version: 1.1
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: nginx (>= 1.1.19-1ubuntu0.2)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Nginx Conf for Bottle Apollo Redis Configure
