Package: uucin-zabbix-webchecker-location
Version: 1.1
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: uucin-zabbix-webchecker (>= 1.0)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Location Zabbix Script & conf for Web Checker
