Package: uucin-lbs-apollo-stage
Version: 1.0
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: uucin-nginx-apollo-conf (>= 1.0), uucin-tomcat7-apollo (>= 1.0), uucin-python-longlive-stage (>= 1.0), uucin-nginx-redis-conf (>= 1.0)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Lbs Apollo Stage All Depends & Util Shell
