Package: uucin-lbs-apollo
Version: 1.1
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: uucin-nginx-apollo-conf (>= 1.0), uucin-tomcat7-apollo (>= 1.0), uucin-python-longlive (>= 1.0), uucin-nginx-redis-conf (>= 1.0)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Lbs Apollo All Depends & Util Shell
