Package: uucin-lbs-spirit-stage
Version: 1.0
Architecture: amd64
Maintainer: DaiGong <daigongit@gmail.com>
Depends: uucin-nginx-spirit-conf (>= 1.0), uucin-tomcat7-spirit (>= 1.0), uucin-nginx-redis-conf (>= 1.0)
Multi-Arch: same
Homepage: http://www.uucin.com
Description: Lbs Spirit Stage All Depends & Util Shell
